<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/img/aisiki-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../scss/style.css">
    <title>AISIKI | About Us</title>
  </head>

  <body>
    <div id="page-wrap">
      <header id="main-header" class="sticky-top">
        <nav>
          <!-- logo -->
          <div class="header-logo">
            <a href="../index.html">
              <img src="../assets/img/aisiki-logo.svg" alt="Logo" class="img-fluid">
            </a>
          </div>
          <!-- navigation links -->
          <div class="navbar-links">
            <!-- nav links -->
            <div>
              <div>
                <a class="active" href="about.html">About us</a>
              </div>
              <div>
                <a href="business.html">For business</a>
              </div>
              <div>
                <a href="farmers.html">For farmers</a>
              </div>
              <div>
                <a href="support.html">Support</a>
              </div>
              <div>
                <a href="blog.html">Blog</a>
              </div>
            </div>
            <!-- start now button -->
            <div>
              <button class="ais-start-btn">Buy From Aisiki</button>
            </div>
          </div>
          <!-- sidebar toggle button -->
          <div class="toggle-icon">
            <i class="fa fa-bars"></i>
          </div>
        </nav>
      </header>
      <main>
        <!-- About Section -->
        <section>
          <div class="about">
            <div class="about-heading">
              <div class="about-text">
                <h2>Fresh Meets Technology</h2>
                <p>
                  Every day, thousands of tonnes of fruits, vegetables and meat
                  are consumed around the world. These fresh foods constitute
                  mostly the protein, vitamins and minerals in our diets. But
                  the process involved in moving these highly perishable farm
                  produce from farms to markets is not as easy as it seems.
                  However with the help of technology, we are transforming the
                  value chain by moving produce directly from the farmers to
                  restaurants, mom-and-pop shops, and service providers as
                  quickly as possible and at the least cost to ensure our cities
                  thrive on cheaper and safer food.
                </p>
                <button class="anisiki-btn">Build with us</button>
              </div>
            </div>
            <div class="about-img">
                <img class="img-wrapper" src="../assets/img/about/im-frame.svg" alt="Portrait man">
                <img
                  src="../assets/img/about/african-farmer-man-holding-knife-country-side 1.png"
                  class="img-about"
                  alt="farmer-image"
                />
            </div>
          </div>
        </section>

        <!--Our Mission section -->
        <section class="our-mission">
        <div class="mission">
          <div class=" mission-text-1">
            Our Mission is to
            make your life easier and better
          </div>
          <div class="mission-text-2">
            Farmers toil all through the planting season and still have to go
            through a lot to sell after harvest. There is a lack of
            information within the value chain about price, demand and supply
            levels. On the other hand, retailers have to go to market almost
            everyday to restock, not knowing at what price they may likely
            buy. Likewise, they are very unsure of the quality of produce they
            will get to buy.
            <span
              >Aisiki’s mission is to bridge this gap and be the most
              efficient supply chain infrastructure for fresh produce in
              Africa.</span
            >
          </div>
        </div>
        <button class="anisiki-btn">Build with us</button>
        </section>

        <!-- Mission image section -->
        <section class="mission-images">
            <div class="mission-first-img">
                <img
                src="../assets/img/about/Mission Pic 1.png"
                alt="smilimg guy"
              />
            </div>
            <div class="mission-second-img">
              <img
                src="../assets/img/about/countryside-woman-holding-plant-leaves 2.png"
                alt="smiling lady"
              />
            </div>
        </section>
        <!-- core value section -->
        <section>
          <div class="core-values">
            <div class="core-values-heading">
              <h6>Our Values</h6>
              <h1>R-A-P-I-D</h1>
              <p>
                Our core values can be summarized with the acronymn
                <span>RAPID</span>
                because Aisiki leverages analytics and intelligence to ensure fresh
                farm produce are efficiently supplied to retailers and restaurants
                across Africa.
              </p>
            </div>
            <div>
              <div class="every-core">
                <div class="every-core-text">
                  <div class="core-img-container">
                    <img
                      src="../assets/img/about/green icon.png "
                      alt="circle image"
                    
                    />
                    <div class="core">
                      <h1>Responsive Operations</h1>
                      <p>
                        We strive to ensure that we are building not for ourselves
                        alone but actually for the customers. Our operations are
                        designed in a manner that consistently seek to satisfy our
                        customers.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="every-core-text">
                  <div class="core-img-container">
                    <img
                      src="../assets/img/about/lightgreenIcon.png "
                      alt="circle image"
                      
                    />
                    <div class="core">
                      <h1>Agile development</h1>
                      <p>
                        As a firm that is always seeking to bring value to its
                        customers, we strive to be as agile as possible in the
                        development of our solutions by avoiding waste and ensuring
                        true value is built and well-distributed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="every-core-text">
                  <div class="core-img-container">
                    <img
                      src="../assets/img/about/green icon.png "
                      alt="circle image"
                      
                    />
                    <div class="core">
                      <h1>Productive management</h1>
                      <p>
                        We count ourselves as stewards. We believe that we exist and
                        grow by the endorsement of our stakeholders and customers,
                        thus we strive at all levels to be as efficient as possible
                        with resources.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="every-core-text">
                  <div class="core-img-container">
                    <img
                      src="../assets/img/about/lightgreenIcon.png "
                      alt="circle image"
                      
                    />
                    <div class="core">
                      <h1>Innovative thinking</h1>
                      <p>
                        Thinking- to create a value is one, and to remain valuable
                        for decades is another. Our approach on what innovation is,
                        is key to helping us create the future of food distribution
                        in Africa.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="every-core-text">
                  <div class="core-img-container">
                    <img
                      src="../assets/img/about/green icon.png "
                      alt="circle image"
                    />
                    <div class="core">
                      <h1>Detailed atttention</h1>
                      <p>
                        Our operations have a lot to do with the safety of lives and
                        betterment of the societies we belong to. We work very hard,
                        round the clock, to ensure we leave no stone unturned,
                        paying close attention to every step of the process.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Farmer and Business Section -->
        <section class="farmer-and-business">
          <div class="promise">
            <div class="promise-text">
              <h1>Our Promise to Farmer and Businesses</h1>
              <p>
                Aisiki is a reliable, cost-effective and time-efficient tech-enabled
                platform that relies on cutting-edge technologies in efficiently
                pricing and procuring produce directly from the farmers with high
                level of transparency and assurance. Businesses can trust us to
                deliver to them always, best quality produce at the most competitive
                price.
              </p>
              <button class="anisiki-btn">Get Started</button>
            </div>
            <div class="promise-image"></div>
          </div>
        </section>

        <!-- Our Team Section -->
        <section class="team">
          <div class="team-heading">
            <h6>Meet Our Team</h2>
            <p>
              Aisiki is made up of dedicated and talented people with a vision to
              change the supply chain infrastructure for fresh produces in Africa.
              Our core team is made up of project managers, agricultural experts and
              consultants, software developers, regional and district managers and
              field agents.
            </p>
          </div>
          <div class="team-card">
            <div class="team-card-info">
              <img src="../assets/img/about/12351 1.svg" alt="" class="team_card_img" />
              <h2>Jake Stephens</h2>
              <h3>CEO/Co-Founder</h3>
              <div class="social">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
            <!-- second card -->
            <div class="team-card-info">
              <img src="../assets/img/about/12351 1.svg" alt="" class="team_card_img" />
              <h2>Jake Stephens</h2>
              <h3>CEO/Co-Founder</h3>
              <div class="social">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </div>
            </div>
                <!-- third card -->
                <div class="team-card-info">
                  <img src="../assets/img/about/12351 1.svg" alt="" class="team_card_img" />
                  <h2>Jake Stephens</h2>
                  <h3>CEO/Co-Founder</h3>
                  <div class="social">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </div>
                </div>
          </div>
        </section>
        <!-- investor Section -->
        <section class="investors">
          <div class="aisiki-investors">
            <div class="investor-row">
                <p>Investors of Aisiki</p>
                <hr/>
            </div>
            <div class="investor-logo">
                <img src="../assets/img/about/logo 1.png" alt="logo">
                <img src="../assets/img/about/logo 2.png" alt="logo">
                <img src="../assets/img/about/logo 3.png" alt="logo">
                <img src="../assets/img/about/logo 4.png" alt="logo">
                <img src="../assets/img/about/logo 5.png" alt="logo">
            </div>
          </div>
          <div class="aisiki-partners">
            <div class="investor-row">
                <p>Partners of Aisiki</p>
                <hr/>
            </div>
            <div class="partners-logo">
                <img src="../assets/img/about/logo 1.png" alt="logo">
                <img src="../assets/img/about/logo 2.png" alt="logo">
                <img src="../assets/img/about/logo 3.png" alt="logo">
                <img src="../assets/img/about/logo 4.png" alt="logo">
                <img src="../assets/img/about/logo 5.png" alt="logo">
            </div>
          </div>
        </section>
        <!-- Aisiki news section -->
        <section class="aisiki-news">
          <div class="aisiki-news-heading">
            <h6>Aisiki in the news</h6>
            <p>Catch up the latest articles and news about Aisiki</p>
          </div>
          <div class="aisiki-news-image-card">
            <div class="aisiki-news-image-card-1">
                <img src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png" alt="female farmer">
                <h6>TVC News</h6>
                <h2>How Aisiki got 1M+ visitors in 30 days without anything!</h2>
                <p>Throwing consider dwelling bachelor joy proposal laughter. Raptures returned disposed one entirely her men ham</p>
                <a href="#">Read More</a>
            </div>
            <div class="aisiki-news-image-card-2">
                <img src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png" alt="female farmer">
                <h6>TVC News</h6>
                <h2>How Aisiki got 1M+ visitors in 30 days without anything!</h2>
                <p>Throwing consider dwelling bachelor joy proposal laughter. Raptures returned disposed one entirely her men ham</p>
                <a href="#">Read More</a>
            </div>
            <div class="aisiki-news-image-card-3">
                <img src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png" alt="female farmer">
                <h6>TVC News</h6>
                <h2>How Aisiki got 1M+ visitors in 30 days without anything!</h2>
                <p>Throwing consider dwelling bachelor joy proposal laughter. Raptures returned disposed one entirely her men ham</p>
                <a href="#">Read More</a>
            </div>
          </div>
        </section>

        <!-- Careers Section -->
        <section class="careers">
          <div class="career-column-1">
            <h6>Careers</h6>
            <p>Our people are innovators, marketers,creatives and technologist.
                Adaptable to change and agile in an environment that is fast 
                paced and eveer changing. Join a team with a team with a purpose.</p>
            <button class="anisiki-btn">Contact us</button>
          </div>
          <div class="career-column-2">
            <img src="../assets/img/about/team-young-african-people-men-women 1.png" alt="">
          </div>
        </section>
      </main>
      <footer id="main-footer">
        <!-- mobile section -->
        <div>
          <section>
            <!-- mobile device -->
            <div>
              <img src="../assets/img/mobile.svg" alt="Mobile">
            </div>
            <!-- write ups -->
            <div>
              <div>
                <h3>Order. Pay. Delivered!</h3>
                <p>
                  Are you interested in joining Aisiki? Check out <br>
                  Our App and get ahead today.
                </p>
                <div class="d-flex flex-column  flex-md-row justify-content-between">
                  <a class="ais-main-btn" href="#">
                    <img class="img-fluid" src="../assets/icons/play-store.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- address, useful links, email update  -->
        <div class="container-fluid">
          <section class="row d-flex justify-content-between align-items-start">
            <!-- address & useful links -->
            <div class="col-12 col-lg-8 col-xl-7 container-fluid order-2">
              <div class="row">
                <!-- address -->
                <div class="col-12 col-md-4 col-lg-5 col-xl-4 d-flex flex-column">
                  <span class="mb-4">
                    <img src="../assets/img/aisiki-logo.svg" alt="Logo">
                  </span>
                  <span>
                    Smartagro Technologies ltd<br>
                    23, Akpapava Road<br>
                    Benin City, Nigeria<br>
                    support@aisiki.co
                  </span>
                </div>
                <!-- useful links -->
                <div class="col-12 col-md-8 col-lg-7 col-xl-8 d-flex justify-content-start justify-content-md-center justify-content-lg-around align-items-start align-items-md-center">
                  <div class="d-flex flex-column order-md-2">
                    <span>
                      <a href="../views/about.html">About us</a>
                    </span>
                    <span>
                      <a href="../views/support.html">Support</a>
                    </span>
                    <span>
                      <a href="../views/blog.html">Blog</a>
                    </span>
                  </div>
                  <div class="d-flex flex-column order-md-1">
                    <span>
                      <a href="../views/privacy_policy.html">Privacy Policy</a>
                    </span>
                    <span>
                      <a href="../views/terms_of_use.html">Terms of Use</a>
                    </span>
                    <span>
                      <a href="../views/returns_and_refunds.html">Returns & Refunds</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- never miss an update -->
            <div class="col-12 col-md-8 col-lg-4 col-xl-5 order-1 order-md-2">
              <h5>Never miss an update</h5>
              <div class="d-flex">
                <input type="email" name="email" placeholder="Enter email">
                <button>
                  <img src="../assets/icons/circle-arrow-right.svg" alt="subscribe icon">
                </button>
              </div>
            </div>
          </section>
        </div>
          
        <!-- copyright -->
        <div>
          <section>
            <div>
              <div class="order-2 order-lg-1">
                Copyright <span class="current-year"></span> Smart Agro Technologies Limited. All rights reserved.
              </div>
              <div class="order-lg-1 d-flex justify-content-lg-end align-items-center">
                <span class="mr-2">
                  Follow Us:
                </span>
                <span class="d-flex justify-content-between align-items-center">
                  <a href="">
                    <img src="../assets/icons/facebook.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/linkedin.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/twitter.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/instagram.svg" alt=""></a>
                </span>
              </div>
            </div>
          </section>
        </div>
      </footer>
    </div>

    <!-- Project scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <script src="../scripts/main.js"></script>
  </body>
</html>
