<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="..assets/img/aisiki-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Custom Styles -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../scss/style.css">
    <title>AISIKI | BLOG</title>
  </head>

  <body>
    <div id="page-wrap">
      <header id="main-header" class="sticky-top">
        <nav>
          <!-- logo -->
          <div class="header-logo">
            <a href="../index.html">
              <img src="../assets/img/aisiki-logo.svg" alt="Logo" class="img-fluid">
            </a>
          </div>
          <!-- navigation links -->
          <div class="navbar-links">
            <!-- nav links -->
            <div>
              <div>
                <a href="about.html">About us</a>
              </div>
              <div>
                <a href="business.html">For business</a>
              </div>
              <div>
                <a href="farmers.html">For farmers</a>
              </div>
              <div>
                <a href="support.html">Support</a>
              </div>
              <div>
                <a class="active" href="blog.html">Blog</a>
              </div>
            </div>
            <!-- start now button -->
            <div>
              <button class="ais-start-btn">Buy From Aisiki</button>
            </div>
          </div>
          <!-- sidebar toggle button -->
          <div class="toggle-icon">
            <i class="fa fa-bars"></i>
          </div>
        </nav>
      </header>
      <main>
        <div class="blog-row">
          <div class="blog-column-1">
            <div class="aisiki-search">
              <div class="box">
                <img src="../assets/icons/search.png" alt="search" class="search-icon">
                <input
                  type="search"
                  placeholder="Type to Search"
                  aria-label="Search"
                />
              </div>
            </div>
            <div class="aisiki-recent-post">
              <div class="recent-post">
                <h2>Recent Posts</h2>
                <p>how to blow through capital at an incredible rate</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="recent-post">
                <p>crops that everyone should know</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="recent-post">
                <p>how did we get 1M+ visitor in 30 days without anything</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="recent-post">
                <p>Aisiki story: How we built our infrastructure system</p>
                <h6>Jan 14, 2020</h6>
              </div>
            </div>

            <div class="aisiki-popular-post">
              <div class="popular-post">
                <h2>Popular Posts</h2>
                <p>how to blow through capital at an incredible rate</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="popular-post">
                <p>crops that everyone should know</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="popular-post">
                <p>how did we get 1M+ visitor in 30 days without anything</p>
                <h6>Jan 14, 2020</h6>
              </div>
              <div class="popular-post">
                <p>Aisiki story: HOw we built our infrastructure system</p>
                <h6>Jan 14, 2020</h6>
              </div>
            </div>
            <div class="categories">
              <h2>Categories</h2>
              <ul>
                <li>Technology - <span>20 posts</span></li>
                <li>Fresh - <span>07 posts</span></li>
                <li>Crops - <span>16 posts</span></li>
                <li>Marketing - <span>11 posts</span></li>
                <li>Business - <span>35 posts</span></li>
                <li>Farmer - <span>14 posts</span></li>
              </ul>
            </div>
          </div>
          <div class="blog-column-2">
            <div class="aisiki-blog-image-card">
              <div class="aisiki-blog-image-card-1">
                <img
                  src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png"
                  alt="female farmer"
                />
                <h6>Jan 14, 2019</h6>
                <h2>
                  How Aisiki got 1M+ visitors in 30 days without anything!
                </h2>
                <p>
                  Throwing consider dwelling bachelor joy proposal laughter.
                  Raptures returned disposed one entirely her men ham
                </p>
                <a href="#">Continue Reading</a>
              </div>
              <div class="aisiki-blog-image-card-2">
                <img
                  src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png"
                  alt="female farmer"
                />
                <h6>Jan 14, 2019</h6>
                <h2>
                  How Aisiki got 1M+ visitors in 30 days without anything!
                </h2>
                <p>
                  Throwing consider dwelling bachelor joy proposal laughter.
                  Raptures returned disposed one entirely her men ham
                </p>
                <a href="#">Continue Reading</a>
              </div>
            </div>

            <div class="row-card">
              <div class="aisiki-blog-image-card-row">
                <div class="aisiki-blog-image-card-row-1">
                  <img
                    src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png"
                    alt="female farmer"
                  />
                  <div>
                    <h6>Jan 14, 2019</h6>
                    <h2>
                      How Aisiki got 1M+ visitors in 30 days without anything!
                    </h2>
                    <p>
                      Throwing consider dwelling bachelor joy proposal laughter.
                      Raptures returned disposed one entirely her men ham
                    </p>
                    <a href="#">Continue Reading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="aisiki-blog">
              <div class="aisiki-blog-image-card">
                <div class="aisiki-blog-image-card-1">
                  <img
                    src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png"
                    alt="female farmer"
                  />
                  <h6>Jan 14, 2019</h6>
                  <h2>
                    How Aisiki got 1M+ visitors in 30 days without anything!
                  </h2>
                  <p>
                    Throwing consider dwelling bachelor joy proposal laughter.
                    Raptures returned disposed one entirely her men ham
                  </p>
                  <a href="#">Continue Reading</a>
                </div>
                <div class="aisiki-blog-image-card-2">
                  <img
                    src="../assets/img/about/countryside-woman-holding-plant-leaves 1.png"
                    alt="female farmer"
                  />
                  <h6>Jan 14, 2019</h6>
                  <h2>
                    How Aisiki got 1M+ visitors in 30 days without anything!
                  </h2>
                  <p>
                    Throwing consider dwelling bachelor joy proposal laughter.
                    Raptures returned disposed one entirely her men ham
                  </p>
                  <a href="#">Continue Reading</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-next-page-btn">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li><a href="#">1</a></li>
            <li class="next-btn-color"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </main>
      <footer id="main-footer">
        <!-- mobile section -->
        <div>
          <section>
            <!-- mobile device -->
            <div>
              <img src="../assets/img/mobile.svg" alt="Mobile">
            </div>
            <!-- write ups -->
            <div>
              <div>
                <h3>Order. Pay. Delivered!</h3>
                <p>
                  Are you interested in joining Aisiki? Check out <br>
                  Our App and get ahead today.
                </p>
                <div class="d-flex flex-column  flex-md-row justify-content-between">
                  <a class="ais-main-btn" href="#">
                    <img class="img-fluid" src="../assets/icons/play-store.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- address, useful links, email update  -->
        <div class="container-fluid">
          <section class="row d-flex justify-content-between align-items-start">
            <!-- address & useful links -->
            <div class="col-12 col-lg-8 col-xl-7 container-fluid order-2">
              <div class="row">
                <!-- address -->
                <div class="col-12 col-md-4 col-lg-5 col-xl-4 d-flex flex-column">
                  <span class="mb-4">
                    <img src="../assets/img/aisiki-logo.svg" alt="Logo">
                  </span>
                  <span>
                    Smartagro Technologies ltd<br>
                    23, Akpapava Road<br>
                    Benin City, Nigeria<br>
                    support@aisiki.co
                  </span>
                </div>
                <!-- useful links -->
                <div class="col-12 col-md-8 col-lg-7 col-xl-8 d-flex justify-content-start justify-content-md-center justify-content-lg-around align-items-start align-items-md-center">
                  <div class="d-flex flex-column order-md-2">
                    <span>
                      <a href="../views/about.html">About us</a>
                    </span>
                    <span>
                      <a href="../views/support.html">Support</a>
                    </span>
                    <span>
                      <a href="../views/blog.html">Blog</a>
                    </span>
                  </div>
                  <div class="d-flex flex-column order-md-1">
                    <span>
                      <a href="../views/privacy_policy.html">Privacy Policy</a>
                    </span>
                    <span>
                      <a href="../views/terms_of_use.html">Terms of Use</a>
                    </span>
                    <span>
                      <a href="../views/returns_and_refunds.html">Returns & Refunds</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- never miss an update -->
            <div class="col-12 col-md-8 col-lg-4 col-xl-5 order-1 order-md-2">
              <h5>Never miss an update</h5>
              <div class="d-flex">
                <input type="email" name="email" placeholder="Enter email">
                <button>
                  <img src="../assets/icons/circle-arrow-right.svg" alt="subscribe icon">
                </button>
              </div>
            </div>
          </section>
        </div>
          
        <!-- copyright -->
        <div>
          <section>
            <div>
              <div class="order-2 order-lg-1">
                Copyright <span class="current-year"></span> Smart Agro Technologies Limited. All rights reserved.
              </div>
              <div class="order-lg-1 d-flex justify-content-lg-end align-items-center">
                <span class="mr-2">
                  Follow Us:
                </span>
                <span class="d-flex justify-content-between align-items-center">
                  <a href="">
                    <img src="../assets/icons/facebook.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/linkedin.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/twitter.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/instagram.svg" alt=""></a>
                </span>
              </div>
            </div>
          </section>
        </div>
      </footer>
    </div>

    <!-- Project scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <script src="../scripts/main.js"></script>
  </body>
</html>
