<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="..assets/img/aisiki-logo.svg" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../scss/style.css" />
    <title>AISIKI | Home</title>
  </head>

  <body>
    <div id="page-wrap">
      <header id="main-header" class="sticky-top">
        <nav>
          <!-- logo -->
          <div class="header-logo">
            <a href="index.html">
              <img
                src="../assets/img/aisiki-logo.svg"
                alt="Logo"
                class="img-fluid"
              />
            </a>
          </div>
          <!-- navigation links -->
          <div class="navbar-links">
            <!-- nav links -->
            <div>
              <div>
                <a href="./views/about.html">About us</a>
              </div>
              <div>
                <a href="views/business.html">For business</a>
              </div>
              <div>
                <a href="views/farmers.html">For farmers</a>
              </div>
              <div>
                <a href="views/support.html">Support</a>
              </div>
              <div>
                <a href="views/blog.html">Blog</a>
              </div>
            </div>
            <!-- start now button -->
            <div>
              <button class="ais-start-btn">Buy From Aisiki</button>
            </div>
          </div>
          <!-- sidebar toggle button -->
          <div class="toggle-icon">
            <i class="fa fa-bars"></i>
          </div>
        </nav>
      </header>
      <main>
        <section class="for-farmers">
          <div class="for-farmers-column-1">
            <div class="for-farmer-col-1">
              <h6>For Business</h6>
              <h2>
                Save time and allow us<br />
                deliver you fresh produce
              </h2>
              <p>
                Focus on what you do best - selling. Let’s help you source and
                deliver the best fresh produce so you can focus on your core
                business and make more money
              </p>
              <button class="anisiki-btn">Join us</button>
            </div>
            <div class="for-farmers-img">
              <img
                src="../assets/img/business/farmer-work-rice-field 1.png"
                alt="Farmer"
                class="for-farmers-img-1"
              />
              <img
                src="../assets/img/business/tea-worker-picking-tea-leaves-plantation 1.png"
                alt="Farmer"
                class="for-farmers-img-2"
              />
              <!-- <img
                src="../assets/img/business/various-fruits-local-african-market 2.png"
                alt="fruits"
                class="for-farmers-img-3"
              /> -->
            </div>
          </div>
        </section>
        <section class="farmers-offer">
          <h2>What we offer</h2>
          <div class="farmers-offer-list">
            <div class="every-core">
              <div class="every-core-text">
                <div class="core-img-container">
                  <img
                    src="../assets/img/business/green-circle.png "
                    alt="circle image"
                    width="50"
                    height="50"
                  />
                  <div class="core">
                    <h1>Door-Step Delivery</h1>
                    <p>
                      Avoid the back and forth with creditors. With Aisiki, you
                      receive payment for your products immediately.
                    </p>
                  </div>
                </div>
              </div>
              <div class="every-core-text">
                <div class="core-img-container">
                  <img
                    src="../assets/img/business/green-circle.png "
                    alt="circle image"
                    width="50"
                    height="50"
                  />
                  <div class="core">
                    <h1>High Quality Produce</h1>
                    <p>
                      Aisiki offers high quality produce at an affordable price.
                      So you can bank on us for cheap prices.
                    </p>
                  </div>
                </div>
              </div>
              <div class="every-core-text">
                <div class="core-img-container">
                  <img
                    src="../assets/img/business/green-circle.png "
                    alt="circle image"
                    width="50"
                    height="50"
                  />
                  <div class="core">
                    <h1>Save Time & Energy</h1>
                    <p>
                      Aisiki offers high quality produce at an affordable price.
                      So you can bank on us for cheap prices.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="farmer-feature">
          <div class="farmer-feature-col-1">
            <h6>Features</h6>
            <h1>Our Core Features</h1>
            <p>
              Special features created just for you. With our features, you can
              manage your farm and produce much faster and better
            </p>
          </div>
          <div class="farmer-feature-col-2">
            <div class="schedule-plan">
              <i class="fa fa-calendar"></i>
              <h5>Scheduling Plan</h5>
              <p>
                Schedule your plan for daily, weekly or monthly. Organize all
                your produce esaily
              </p>
            </div>
            <div class="schedule-plan">
              <i class="fa fa-calendar"></i>
              <h5>Scheduling Plan</h5>
              <p>
                Schedule your plan for daily, weekly or monthly. Organize all
                your produce esaily
              </p>
            </div>
            <div class="schedule-plan">
              <i class="fa fa-calendar"></i>
              <h5>Scheduling Plan</h5>
              <p>
                Schedule your plan for daily, weekly or monthly. Organize all
                your produce esaily
              </p>
            </div>
            <div class="schedule-plan">
              <i class="fa fa-calendar"></i>
              <h5>Scheduling Plan</h5>
              <p>
                Schedule your plan for daily, weekly or monthly. Organize all
                your produce esaily
              </p>
            </div>
          </div>
        </section>
        <section class="aisiki-testimonies">
          <div class="aisiki-testimonies-row">
            <img
              src="../assets/img/business/404 1.png"
              alt="Picture"
              class="aisiki-testimonies-row-img-1"
            />
            <div class="aisiki-client-testimony">
              <h2>What our clients say</h2>
              <div class="quote">&#8221;</div>
              <p>
                Agriculture has always been an industry ripe for innovation.
                Aisiki produce are freshly picked, they really do deliver fresh
                flavorful produce
              </p>
              <div class="aisiki-client-testimony-icon">
                <div class="aisiki-client-testimony-icon-left">
                  <a href="#"><i class="fa fa-arrow-left"></i></a>
                </div>
                <div class="aisiki-client-testimony-icon-right">
                  <a href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <img
              src="../assets/img/business/66158 1.png"
              alt="lady image"
              class="aisiki-testimonies-row-img-2"
            />
          </div>
          <div class="client-image">
            <img
              src="../assets/img/business/everything-is-just-fine-beautiful-cheerful-african-woman.jpg"
              alt="client image"
              class="client-image-1"
            />
            <img
              src="../assets/img/business/66515 1.png"
              alt="client image"
              class="client-image-2"
            />
          </div>
        </section>
      </main>
      <footer id="main-footer">
        <!-- mobile section -->
        <div>
          <section>
            <!-- mobile device -->
            <div>
              <img src="../assets/img/mobile.svg" alt="Mobile" />
            </div>
            <!-- write ups -->
            <div>
              <div>
                <h3>Order. Pay. Delivered!</h3>
                <p>
                  Are you interested in joining Aisiki? Check out <br />
                  Our App and get ahead today.
                </p>
                <div
                  class="d-flex flex-column flex-md-row justify-content-between"
                >
                  <a class="ais-main-btn" href="#">
                    <img
                      class="img-fluid"
                      src="../assets/icons/play-store.svg"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- address, useful links, email update  -->
        <div class="container-fluid">
          <section class="row d-flex justify-content-between align-items-start">
            <!-- address & useful links -->
            <div class="col-12 col-lg-8 col-xl-7 container-fluid order-2">
              <div class="row">
                <!-- address -->
                <div
                  class="col-12 col-md-4 col-lg-5 col-xl-4 d-flex flex-column"
                >
                  <span class="mb-4">
                    <img src="../assets/img/aisiki-logo.svg" alt="Logo" />
                  </span>
                  <span>
                    Smartagro Technologies ltd<br />
                    23, Akpapava Road<br />
                    Benin City, Nigeria<br />
                    support@aisiki.co
                  </span>
                </div>
                <!-- useful links -->
                <div
                  class="col-12 col-md-8 col-lg-7 col-xl-8 d-flex justify-content-start justify-content-md-center justify-content-lg-around align-items-start align-items-md-center"
                >
                  <div class="d-flex flex-column order-md-2">
                    <span>
                      <a href="../views/about.html">About us</a>
                    </span>
                    <span>
                      <a href="../views/support.html">Support</a>
                    </span>
                    <span>
                      <a href="../views/blog.html">Blog</a>
                    </span>
                  </div>
                  <div class="d-flex flex-column order-md-1">
                    <span>
                      <a href="../views/privacy_policy.html">Privacy Policy</a>
                    </span>
                    <span>
                      <a href="../views/terms_of_use.html">Terms of Use</a>
                    </span>
                    <span>
                      <a href="../views/returns_and_refunds.html"
                        >Returns & Refunds</a
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- never miss an update -->
            <div class="col-12 col-md-8 col-lg-4 col-xl-5 order-1 order-md-2">
              <h5>Never miss an update</h5>
              <div class="d-flex">
                <input type="email" name="email" placeholder="Enter email" />
                <button>
                  <img
                    src="../assets/icons/circle-arrow-right.svg"
                    alt="subscribe icon"
                  />
                </button>
              </div>
            </div>
          </section>
        </div>

        <!-- copyright -->
        <div>
          <section>
            <div>
              <div class="order-2 order-lg-1">
                Copyright <span class="current-year"></span> Smart Agro
                Technologies Limited. All rights reserved.
              </div>
              <div
                class="order-lg-1 d-flex justify-content-lg-end align-items-center"
              >
                <span class="mr-2"> Follow Us: </span>
                <span class="d-flex justify-content-between align-items-center">
                  <a href="">
                    <img src="../assets/icons/facebook.svg" alt=""
                  /></a>
                  <a href="">
                    <img src="../assets/icons/linkedin.svg" alt=""
                  /></a>
                  <a href="">
                    <img src="../assets/icons/twitter.svg" alt=""
                  /></a>
                  <a href="">
                    <img src="../assets/icons/instagram.svg" alt=""
                  /></a>
                </span>
              </div>
            </div>
          </section>
        </div>
      </footer>
    </div>

    <!-- Project scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>

    <script src="../scripts/main.js"></script>
  </body>
</html>
