<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="..assets/img/aisiki-logo.svg" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../scss/style.css" />
    <title>AISIKI | Support</title>
  </head>

  <body>
    <div id="page-wrap">
      <header id="main-header" class="sticky-top">
        <nav class="support-nav">
          <!-- logo -->
          <div class="header-logo">
            <a href="../index.html">
              <img
                src="../assets/img/aisiki-logo.svg"
                alt="Logo"
                class="img-fluid"
              />
            </a>
          </div>
          <!-- go to aisiki -->
          <div class="external-icon">
            <a href="../index.html">
              <img src="../assets/icons/external-link.png" alt="">
              <span class="d-none d-md-inline">Go to Aisiki</span>
            </a>
          </div>
        </nav>
      </header>
      <main>
        <!-- help & search -->
        <section class="support-help">
          <p>How can we help you? Find answers to your questions here.</p>
          <label for="search">
            <img src="../assets/icons/search.png" alt="search-icon">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Enter search Item here"
              autocomplete="off"
            >
          </label>
        </section>
        <section>
          <div class="support">
            <div class="support-question">
              <div class="suport-column">What do you want to ask us?</div>
              <div class="support-column-body">
                <p class="suport-column-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempore sed unde corporis cum at aspernatur debitis iure
                  ratione. Aspernatur vitae ab dolores sit facilis blanditiis
                  dicta eum consequuntur voluptatum excepturi?cum at aspernatur
                  debitis iure ratione. Aspernatur vitae ab dolores sit facilis
                  blanditiis dicta eum consequuntur voluptatum excepturi?
                </p>
              </div>
            </div>
            <div class="support-question">
              <div class="suport-column">What do you want to ask us?</div>
              <div class="support-column-body">
                <p class="suport-column-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempore sed unde corporis cum at aspernatur debitis iure
                  ratione. Aspernatur vitae ab dolores sit facilis blanditiis
                  dicta eum consequuntur voluptatum excepturi?cum at aspernatur
                  debitis iure ratione. Aspernatur vitae ab dolores sit facilis
                  blanditiis dicta eum consequuntur voluptatum excepturi?
                </p>
              </div>
            </div>
            <div class="support-question">
              <div class="suport-column">What do you want to ask us?</div>
              <div class="support-column-body">
                <p class="suport-column-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempore sed unde corporis cum at aspernatur debitis iure
                  ratione. Aspernatur vitae ab dolores sit facilis blanditiis
                  dicta eum consequuntur voluptatum excepturi?cum at aspernatur
                  debitis iure ratione. Aspernatur vitae ab dolores sit facilis
                  blanditiis dicta eum consequuntur voluptatum excepturi?
                </p>
              </div>
            </div>
            <div class="support-question">
              <div class="suport-column">What do you want to ask us?</div>
              <div class="support-column-body">
                <p class="suport-column-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempore sed unde corporis cum at aspernatur debitis iure
                  ratione. Aspernatur vitae ab dolores sit facilis blanditiis
                  dicta eum consequuntur voluptatum excepturi?cum at aspernatur
                  debitis iure ratione. Aspernatur vitae ab dolores sit facilis
                  blanditiis dicta eum consequuntur voluptatum excepturi?
                </p>
              </div>
            </div>
            <div class="support-question">
              <div class="suport-column">What do you want to ask us?</div>
              <div class="support-column-body">
                <p class="suport-column-content">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Tempore sed unde corporis cum at aspernatur debitis iure
                  ratione. Aspernatur vitae ab dolores sit facilis blanditiis
                  dicta eum consequuntur voluptatum excepturi?cum at aspernatur
                  debitis iure ratione. Aspernatur vitae ab dolores sit facilis
                  blanditiis dicta eum consequuntur voluptatum excepturi?
                </p>
              </div>
            </div>
          </div>
          <div class="contact-us">
            <div class="contact-us-row-1">
              <h6>Contact Us</h6>
              <p>
                Here you can ask, custom orders, or even do partnership with us
                everyway.
              </p>
            </div>
            <div class="conact-us-form">
              <div class="contact-form-column-1">
                <form action="#" method="POST">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="johndoe@gmail.com"
                    required
                  />
                  <label for="name">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="johndoe@gmail.com"
                    required
                  />
                  <label for="message">Message</label>
                  <textarea
                    cols="30"
                    rows="5"
                    name="message"
                    id="message"
                    placeholder="Type your message"
                  ></textarea>
                  <button class="anisiki-btn">Send message</button>
                </form>
              </div>
              <div class="contact-form-column-2">
                <img src="../assets/img/support/Rectangle.png" alt="">
                <div class="contact-address">
                  <h2>Address</h2>
                  <p>445 Aisiki Road, Aisiki, Nigeria</p>
                  <h2>Contact</h2>
                  <p>+2348130000000</p>
                  <h2>Mail Us</h2>
                  <p>info@aisiki.com</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer id="main-footer">
        <!-- mobile section -->
        <div>
          <section>
            <!-- mobile device -->
            <div>
              <img src="../assets/img/mobile.svg" alt="Mobile">
            </div>
            <!-- write ups -->
            <div>
              <div>
                <h3>Order. Pay. Delivered!</h3>
                <p>
                  Are you interested in joining Aisiki? Check out <br>
                  Our App and get ahead today.
                </p>
                <div class="d-flex flex-column  flex-md-row justify-content-between">
                  <a class="ais-main-btn" href="#">
                    <img class="img-fluid" src="../assets/icons/play-store.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- address, useful links, email update  -->
        <div class="container-fluid">
          <section class="row d-flex justify-content-between align-items-start">
            <!-- address & useful links -->
            <div class="col-12 col-lg-8 col-xl-7 container-fluid order-2">
              <div class="row">
                <!-- address -->
                <div class="col-12 col-md-4 col-lg-5 col-xl-4 d-flex flex-column">
                  <span class="mb-4">
                    <img src="../assets/img/aisiki-logo.svg" alt="Logo">
                  </span>
                  <span>
                    Smartagro Technologies ltd<br>
                    23, Akpapava Road<br>
                    Benin City, Nigeria<br>
                    support@aisiki.co
                  </span>
                </div>
                <!-- useful links -->
                <div class="col-12 col-md-8 col-lg-7 col-xl-8 d-flex justify-content-start justify-content-md-center justify-content-lg-around align-items-start align-items-md-center">
                  <div class="d-flex flex-column order-md-2">
                    <span>
                      <a href="../views/about.html">About us</a>
                    </span>
                    <span>
                      <a href="../views/support.html">Support</a>
                    </span>
                    <span>
                      <a href="../views/blog.html">Blog</a>
                    </span>
                  </div>
                  <div class="d-flex flex-column order-md-1">
                    <span>
                      <a href="../views/privacy_policy.html">Privacy Policy</a>
                    </span>
                    <span>
                      <a href="../views/terms_of_use.html">Terms of Use</a>
                    </span>
                    <span>
                      <a href="../views/returns_and_refunds.html">Returns & Refunds</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- never miss an update -->
            <div class="col-12 col-md-8 col-lg-4 col-xl-5 order-1 order-md-2">
              <h5>Never miss an update</h5>
              <div class="d-flex">
                <input type="email" name="email" placeholder="Enter email">
                <button>
                  <img src="../assets/icons/circle-arrow-right.svg" alt="subscribe icon">
                </button>
              </div>
            </div>
          </section>
        </div>
          
        <!-- copyright -->
        <div>
          <section>
            <div>
              <div class="order-2 order-lg-1">
                Copyright <span class="current-year"></span> Smart Agro Technologies Limited. All rights reserved.
              </div>
              <div class="order-lg-1 d-flex justify-content-lg-end align-items-center">
                <span class="mr-2">
                  Follow Us:
                </span>
                <span class="d-flex justify-content-between align-items-center">
                  <a href="">
                    <img src="../assets/icons/facebook.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/linkedin.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/twitter.svg" alt=""></a>
                  <a href="">
                    <img src="../assets/icons/instagram.svg" alt=""></a>
                </span>
              </div>
            </div>
          </section>
        </div>
      </footer>
    </div>

    <!-- Project scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>

    <script src="../scripts/main.js"></script>
  </body>
</html>
